*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
    font-family: 'Cinzel', serif;
}
#social {
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 18px;
    text-align: right;
    padding: 14px;
}
font {
    float: left;
    letter-spacing: 2px;
}
span {
    font-size: 12px;
    letter-spacing: 1px;
}
#social>i {
    margin-right: 15px;
}
#social>i:hover {
    opacity: 0.8;
}
#container {
    width: 80%;
    margin: auto;
    height: auto;    
}
header {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
}
#headerphoto {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
section {
    width: 100%;
    height: auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
}
nav {
    width: 20%;
    float: left;
    margin-top: 10px;
}
nav ul {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0; 
}
nav li {
    list-style-type: none;
}
nav li a {
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #b4b4b4;
    padding-left: 20px;
    display: block;
}
nav li a:hover {
    color: white;
    background-color: #adadad;
}
main {
    float: left;
    height: auto;
    width: 80%;
    padding: 10px;
}
.icerik {
    width: 32%;
    height: auto;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    padding: 5px;
}
.tms {
    width: 100%;
    transition: opacity 0.8s;
}
.tms:hover {
    opacity: 0.6;
}
h4 {
    margin: 10px;
    color: red;
}
.text {
    margin: 10px;
    color: dimgray;
}
.read:link {
    display: block;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    background-color: #0071ce;
    color: white;
    text-decoration: none;
    margin: 15px;
    border-radius: 10px;
}
.read:hover {
    opacity: 0.8;
}
footer {
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;
    line-height: 75px;
    text-align: center;
    margin-top: 30px;
}
h1 {
    text-align: center;
    background-color: black;
    color:white;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}
#aboutimg {
    width: 350px;
    height: 300px;
    float: left;
    border-radius: 10px;
    margin: 15px;
    transition: opacity 0.8s;
}
#aboutimg:hover {
    opacity: 0.8;
}
.abouttxt {
    margin-right: 15px;
    font-size: 25px;
    font-family: Cambria;
    text-indent: 40px;
    color:#494949;
}
iframe {
    width: 98%;
    height: 350px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 11px;
}
.section1 {
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 10px;
}
.form {
    width: 49%;
    float: left;
    height: 380px;
    border: 1px solid #d8d8d8;
    padding: 10px;  
    margin-right: 10px;
}
.col25 {
    width: 25%;
    float: left;
    margin-top: 6px;
}
.col75 {
    width: 75%;
    float: left;
    margin-top: 6px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: right;
}
.adres {
    width: 49%;
    float: left;
    height: 380px;
    border: 1px solid #d8d8d8;
    padding: 10px;
}
h2 {
    text-align: center;
}
.span1 {
    display: block;
    font-family: Calibri;
    margin: 10px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 16px;
}